<script>
	export let name;
  let items = [];
  let taskToQueue = '';

  function canAdd() {
    return items.length < 5;
  }

  function removeItem(event) {
    items = items.filter((text) => text !== event.target.innerHTML);
  }

  function handleAddButton(event) {
    event.preventDefault();

    if (canAdd()) {
      items = [...items, taskToQueue];
      taskToQueue = '';
    } else {
      alert('finish your tasks before clearing them');
    }
  }
</script>

<main>
	<h1>I wanna queue you up</h1>
  <ul id="toqueue-list">
  </ul>
  <ul>
    {#each items as item}
      <li on:click={removeItem}>{item}</li>
    {/each}
  </ul>
  <form onSubmit={handleAddButton}>
    <input bind:value={taskToQueue} id="toqueue" />
    <button on:click={handleAddButton}>Add Me</button>
  </form>
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>
